.app {
    background-color: lightpink;
}

.app_settings_town {
    display: flex;
    align-items: flex-end;
    height: 100%;
    background-color: dodgerblue;
}

/*.app_town {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: flex-end;*/

/*}*/